[submodule "components/epdiy"]
	path = components/epdiy
	url = https://github.com/martinberlin/epdiy-rotation.git
[submodule "components/SubBitPackedArray"]
	path = components/SubBitPackedArray
	url = https://github.com/K-Type-de/SubBitPackedArray.git
